.app{
  margin: 0px;
}
.home-title{
  color: white;
  background-color: #3535f7;
  text-align: center;
}

.Scatter-Graph{
  background-color: rgb(53, 53, 247);
  color: white;
  max-width: 500px;
  padding: 0px;
}
